{{ form_start(form) }}

<div class="row mt-3">
    <div class="col-md-4">{{ form_row(form.titre) }}</div>
    <div class="col-md-4">{{ form_row(form.auteur) }}</div>
    <div class="col-md-4">{{ form_row(form.prix) }}</div>
</div>
<div class="row mt-3">
    <div class="col-md-3">{{ form_row(form.origine) }}</div>
    <div class="col-md-3">{{ form_row(form.categorie) }}</div>
    <div class="col-md-3">{{ form_row(form.quantite) }}</div>
    <div class="col-md-3">{{ form_row(form.taille) }}</div>
    <div class="col-md-3">{{ form_row(form.poids) }}</div>

    <div class="col-md-3 mt-4 text-center">{{ form_row(form.vendu) }}</div>
</div>
<div class="row mt-3"> </div>

{{ form_rest(form) }}

<button class="btn btn-primary mt-3">{{ button | default('Enregister') }}</button>

{{ form_end(form) }}

