<div class="card mt-4 mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('article_show', {slug: article.slug, id: article.id}) }}">
                {{ article.titre }}
            </a>
        </h5>
        <p class="card-text">{{ article.description | nl2br }}</p>
        <p class="card-text">{{ article.origine }} {{ article.categorie }}</p>
        <div class="text-primary" style="font-size: 2rem; font-weight: bold;">
            {{ article.prix }} €
        </div>
    </div>
</div>

