{% extends 'base.html.twig' %}

{% block title 'TOUS NOS ARTICLES' %}

{% block body %}
    <div class="bg-light pt-5 pb-5">
        <div class="container">
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(form.minTaille) }}
                </div>
                <div class="col">
                    {{ form_row(form.options) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container mt-4">
        <h1>Tous nos articles</h1>

        <div class="row">
            {% for article in articles %}
                <div class="col-md-4">
                    {%  include('article/_article.html.twig') %}
                </div>
            {% endfor %}

        </div>

        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>


    </div>


{% endblock %}