{% extends 'base.html.twig' %}

{% block title  %} {{ article.titre }} {% endblock %}

{% block body %}
<div class="bg-light">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                {% if article.filename %}
                    <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('medium')}}"
                         alt="card-img-top"
                         style="width: 100%; height: auto;">
                {% else %}
                    <img src="{{ '/images/articles/mobile.jpg' | imagine_filter('medium')}}"
                         alt="card-img-top"
                         style="width: 100%; height: auto;">
                {% endif %}
            </div>
            <div class="col-md-4">
                <h1>{{ article.titre }}</h1>
                <h2>{{ article.auteur }} - Origine : {{ article.origine }}</h2>
                <h2>Quantité : {{ article.quantite }}</h2>
                <div class="text-primary" style="font-size: 4rem; font-weight: bold">
                    {{ article.prix }} €
                </div>
                <a href="#" class="btn vtn-primary">Nous contacter</a>
            </div>
        </div>
    </div>
</div>

    <div class="container mt-4">

        <p>
            {{ article.description | nl2br }}
        </p>

        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Taille</td>
                        <td>{{ article.taille }} mm</td>
                    </tr>
                    <tr>
                        <td>Poids</td>
                        <td>{{ article.poids }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Autres</h2>
                <ul class="list-group">
                    {% for option in article.options %}
                    <li class="list-group-item">{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>


{% endblock %}


